<h1>Usuários Cadastrados</h1>
{{#if resp.length}}
    <ul>
        {{#each resp}}
        <li>
            <h2>{{nome}}</h2>
            <p>{{username}}</p>
        </li>
        {{/each}}
    </ul>
{{else}}
    <p>Não há usuários cadastrados.</p>
{{/if}}